@charset "UTF-8";
/* line 34, ../../assets/sass/solarized.sass */
.sourceCode .v {
  color: #eee8d5;
}
/* line 36, ../../assets/sass/solarized.sass */
.sourceCode .kw {
  color: #eee8d5;
}
/* line 38, ../../assets/sass/solarized.sass */
.sourceCode .dt {
  color: #cb4b16;
}
/* line 40, ../../assets/sass/solarized.sass */
.sourceCode .dv {
  color: #d33682;
}
/* line 42, ../../assets/sass/solarized.sass */
.sourceCode .bn {
  color: #d33682;
}
/* line 44, ../../assets/sass/solarized.sass */
.sourceCode .fl {
  color: #d33682;
}
/* line 46, ../../assets/sass/solarized.sass */
.sourceCode .ch {
  color: #dc322f;
}
/* line 48, ../../assets/sass/solarized.sass */
.sourceCode .st {
  color: #2aa198;
}
/* line 50, ../../assets/sass/solarized.sass */
.sourceCode .co {
  color: #93a1a1;
}
/* line 52, ../../assets/sass/solarized.sass */
.sourceCode .ot {
  color: #cb4b16;
}
/* line 54, ../../assets/sass/solarized.sass */
.sourceCode .al {
  color: #cb4b16;
}
/* line 56, ../../assets/sass/solarized.sass */
.sourceCode .fu {
  color: #b58900;
}
/* line 58, ../../assets/sass/solarized.sass */
.sourceCode .er {
  color: #dc322f;
}

@font-face {
  font-family: menlo;
  src: url('/fonts/menlo.ttf');
}

/* line 34, ../../assets/sass/style.sass */
.anchored {
  color: white;
}

/* line 38, ../../assets/sass/style.sass */
.left {
  position: fixed;
  left: 0;
}

/* line 42, ../../assets/sass/style.sass */
.bottom {
  position: fixed;
  bottom: 0;
}

/* line 46, ../../assets/sass/style.sass */
.top {
  position: fixed;
  top: 0;
}

/* line 50, ../../assets/sass/style.sass */
.right {
  position: fixed;
  right: 0;
}

/* line 55, ../../assets/sass/style.sass */
body {
  font-family: menlo;
  font-size: 16px;
  background: #111111;
  color: #fdf6e3;
}

/* line 60, ../../assets/sass/style.sass */
input {
  background: #444444;
  color: #fdf6e3;
}

/* line 65, ../../assets/sass/style.sass */
h1, h2, h3, h4, strong, p, a, span, pre, code, blockquote {
  font-family: menlo;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 70, ../../assets/sass/style.sass */
h1, h2, h3, h4 {
  margin-bottom: 0.4em;
  text-wrap: nowrap;
  color: white;
}

/* line 23, ../../assets/sass/style.sass */
ol {
  display: table;
  counter-reset: X;
}

/* line 26, ../../assets/sass/style.sass */
li {
  display: table-row;
  counter-increment: X;
}
/* line 29, ../../assets/sass/style.sass */
li:before {
  display: table-cell;
  text-align: right;
  content: counter(X) ". ";
}

/* line 77, ../../assets/sass/style.sass */
ul, ol {
  margin-top: 0;
}
/* line 79, ../../assets/sass/style.sass */
ul ul, ul ol, ol ul, ol ol {
  padding-left: 0;
}
/* line 81, ../../assets/sass/style.sass */
ul li:before, ol li:before {
  color: #b58900;
}

@media screen and (min-width: 800px) {
  /* line 85, ../../assets/sass/style.sass */
  ul, ol {
    margin-left: 2em;
  }
  /* line 87, ../../assets/sass/style.sass */
  ul li, ol li {
    margin-left: 1.5em;
  }
}
/* line 91, ../../assets/sass/style.sass */
ul li:before {
  content: "* ";
}
/* line 93, ../../assets/sass/style.sass */
ul li li:before {
  content: "- ";
}
/* line 95, ../../assets/sass/style.sass */
ul li li li:before {
  content: ". ";
}

/* line 98, ../../assets/sass/style.sass */
p, pre, li, blockquote, #leaf-content > iframe, #leaf-content > object {
  margin: 1em 0;
}

@media screen and (min-width: 800px) {
  /* line 102, ../../assets/sass/style.sass */
  p, pre, li, blockquote, #leaf-content > iframe, #leaf-content > object {
    margin-left: 4em;
  }
}
/* line 105, ../../assets/sass/style.sass */
em, strong {
  color: #ebff66;
}

/* line 108, ../../assets/sass/style.sass */
pre, blockquote {
  border-left: 2px solid #222222;
  padding-left: 1em;
}

/* line 112, ../../assets/sass/style.sass */
code {
  color: #f9dede;
}
/* line 114, ../../assets/sass/style.sass */
code:before, code:after {
  content: "`";
  color: #dc322f;
}

/* line 118, ../../assets/sass/style.sass */
pre code {
  color: #fdf6e3;
}
/* line 120, ../../assets/sass/style.sass */
pre code:before, pre code:after {
  content: none;
}

/* line 123, ../../assets/sass/style.sass */
blockquote {
  color: #eee8d5;
}
/* line 125, ../../assets/sass/style.sass */
blockquote p {
  margin: 0;
  padding: 0;
}

/* line 129, ../../assets/sass/style.sass */
cite, author {
  color: #2aa198;
}

/* line 132, ../../assets/sass/style.sass */
a.tag, a img {
  color: #b58900;
}

/* line 135, ../../assets/sass/style.sass */
.raw {
  color: #268bd2;
}
/* line 137, ../../assets/sass/style.sass */
.raw a {
  color: #268bd2;
}

/* line 140, ../../assets/sass/style.sass */
#title {
  color: #d33682;
}
/* line 142, ../../assets/sass/style.sass */
#title a {
  color: #d33682;
}

/* line 15, ../../assets/sass/style.sass */
a {
  text-decoration: none;
  color: #859900;
}
/* line 18, ../../assets/sass/style.sass */
a:hover {
  color: #586e75;
}

/* line 15, ../../assets/sass/style.sass */
h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #859900;
}
/* line 18, ../../assets/sass/style.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #586e75;
}

/* line 150, ../../assets/sass/style.sass */
header {
  font-weight: bold;
}
/* line 15, ../../assets/sass/style.sass */
header a {
  text-decoration: none;
  color: #859900;
}
/* line 18, ../../assets/sass/style.sass */
header a:hover {
  color: #586e75;
}

/* line 154, ../../assets/sass/style.sass */
header #title {
  display: inline;
}

/* line 157, ../../assets/sass/style.sass */
header #title, header .timeago {
  font-weight: normal;
}

/* line 160, ../../assets/sass/style.sass */
header div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 165, ../../assets/sass/style.sass */
header div.top.right {
  max-width: 85em;
}

/* line 168, ../../assets/sass/style.sass */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* line 173, ../../assets/sass/style.sass */
article {
  padding: 2em 0;
  max-width: 52em;
}
/* line 182, ../../assets/sass/style.sass */
article h3:before {
  content: "## ";
  color: #dc322f;
}
/* line 185, ../../assets/sass/style.sass */
article h4:before {
  content: "### ";
  color: #dc322f;
}
/* line 188, ../../assets/sass/style.sass */
article p {
  text-space-collapse: preserve;
}

/* line 191, ../../assets/sass/style.sass */
time {
  text-wrap: nowrap;
  color: white;
}

/* line 194, ../../assets/sass/style.sass */
div.timeago {
  margin-bottom: 1em;
}

/* line 196, ../../assets/sass/style.sass */
a.timeago:hover {
  text-decoration: underline;
}

/* line 199, ../../assets/sass/style.sass */
#scrolling-nodes {
  text-wrap: nowrap;
  position: fixed;
  top: 2em;
  right: 1em;
  text-align: right;
  font-style: italic;
}
/* line 206, ../../assets/sass/style.sass */
#scrolling-nodes a {
  display: block;
  font-size: 20px;
  color: #444444;
}
