@import solarized

// Load custom font
@font-face
  font-family                                           : menlo
  src                                                   : font-url('menlo.ttf')

// Font configuration (CLIs have ONE, mono-spaced font)
@mixin font
  font-family                                           : menlo
  font-size                                             : 16px

// Link highlighting
@mixin link($color, $color_highlight)
  a
    text-decoration                                     : none
    color                                               : $color
    &:hover
      color                                             : $color_highlight

// Text aligns to bullet
@mixin text_aligns_to_bullet
  ol
    display                                             : table
    counter-reset                                       : X
  li
    display                                             : table-row
    counter-increment                                   : X
    &:before
      display                                           : table-cell
      text-align                                        : right
      content                                           : counter(X) '. '

// We are not allowed to link:visited:after → content
// Visited class does the trick anyway.
// https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector
.visited:after
  content: '✓'

.anchored
  color                                                 : white

// <H>Left <J>Bottom <K>Top <L>Right
.left
  position                                              : fixed
  left                                                  : 0

.bottom
  position                                              : fixed
  bottom                                                : 0

.top
  position                                              : fixed
  top                                                   : 0

.right
  position                                              : fixed
  right                                                 : 0

// Page: we just define the color scheme.
body
  @include font
  background                                            : $black
  color                                                 : $base3

input
  background                                            : #444
  color                                                 : $base3

// It’s just a CSS reset.  We want the same font size, like terminals.
h1, h2, h3, h4, strong, p, a, span, pre, code, blockquote
  @include font
  margin                                                : 0
  padding                                               : 0

h1, h2, h3, h4
  margin-bottom                                         : .4em
  text-wrap                                             : nowrap
  color                                                 : white

@include text_aligns_to_bullet

ul, ol
  margin-top                                            : 0
  margin-left                                           : 2em
  ul, ol
    padding-left                                        : 0
  li
    margin-left                                         : 1.5em
    &:before
      color                                             : $yellow

ul
  li:before
    content                                             : '* '
  li li:before
    content                                             : '- '
  li li li:before
    content                                             : '. '

p, pre, li, blockquote, #leaf-content > iframe, #leaf-content > object
  margin                                                : 1em 4em
  margin-right                                          : 0

pre, blockquote
  border-left                                           : 2px solid #222222
  padding-left                                          : 1em

code
  color                                                 : $light_red
  &:before, &:after
    content                                             : '`'
    color                                               : $red

pre code
  color                                                 : $base3
  &:before, &:after
    content                                             : none

blockquote
  color                                                 : $base2
  p
    margin                                              : 0
    padding                                             : 0

cite, author
  color                                                 : $cyan

a.tag, a img
  color                                                 : $yellow

.raw
  color                                                 : $blue
  a
    color                                               : $blue

#title
  color                                                 : $magenta
  a
    color                                               : $magenta

@include link($green, $base01)

h1, h2, h3, h4
  @include link($green, $base01)

header
  @include link($green, $base01)
  font-weight                                           : bold

header #title
  display                                               : inline

header #title, header .timeago
  font-weight                                           : normal

header div
  white-space                                           : nowrap
  overflow                                              : hidden
  text-overflow                                         : ellipsis

header div.top.right
  max-width                                             : 85em

footer
  position                                              : fixed
  bottom                                                : 0
  left                                                  : 0

article
  padding                                               : 02em 0
  width                                                 : 52em
  //:before
  //content                                             : '/ '
  //color                                               : $red
  //:before
  //content                                             : '# '
  //color                                               : $red
  h3:before
    content                                             : '## '
    color                                               : $red
  h4:before
    content                                             : '### '
    color                                               : $red
  p
    text-space-collapse                                 : preserve

time
  text-wrap                                             : nowrap
  color                                                 : white
div.timeago
  margin-bottom                                         : 1em
a.timeago:hover
  text-decoration                                       : underline

#scrolling-nodes
  text-wrap                                             : nowrap
  position                                              : fixed
  top                                                   : 1em
  right                                                 : 1em
  text-align                                            : right
  font-style                                            : italic
  a
    display                                             : block
    font-size                                           : 20px
    color                                               : #444
