<!-- https://github.com/gettalong/kramdown/blob/master/data/kramdown/document.html -->

<% # title is first heading
  extend ::Kramdown::Utils::Html

  header = @converter.root.children.find { |node| node.type == :header }

  if header
    collector = -> node do
      node.children.collect { |child| child.type == :text ? escape_html(child.value, :text) : collector.call(child) }.join
    end

    title = collector.call header
  end
%>

<%
  style = File.expand_path(
          File.join(
          File.dirname(__FILE__), 'style.css'))
%>

<html>

  <head>
    <link rel=stylesheet href=<%= style %>>
  </head>

  <title><%= title %></title>

  <body>
    <div>
      <article>
        <%= @body %>
      </article>
    </div>
  </body>

</html>
