!!!
%html
  %head
    %link{href: '/images/favicon.ico', rel: 'icon'}
    %link{href: '/css/style.css',      rel: 'stylesheet'}
    %script{src: 'http://code.jquery.com/jquery-2.1.0.min.js'}
    %script{src: 'http://timeago.yarp.com/jquery.timeago.js'}
    %script{src: 'https://raw.github.com/Arwid/jQuery.scrollIntoView/master/jquery.scrollIntoView.min.js'}
    %script{src: '/js/script.js'}
    %title
      alexherbo2.github.io — $title$
  %body
    %header
      %div.top.left
        %a#home{href: '/'}
          home(1)
      %div.top.right
        %a.timeago{href: 'https://github.com/alexherbo2/alexherbo2.github.io/commit/$commit$', title: 'View Commit'}
          %time.timeago{datetime: '$commit-iso-date$'}
        %a.raw{href: 'https://raw.github.com/alexherbo2/alexherbo2.github.io/source/content/$path$', title: 'View Raw'}
          ❮❯
        %h1#title
          =link_to 'alexherbo2.github.io', 'https://github.com/alexherbo2/alexherbo2.github.io'
          —
          %span{title: '$title$'}
            $title$
        %a.raw{href: 'http://__IP__:8000', title: 'Open Music'}
          
    $body$
    %footer
      %a{href: 'http://github.com/alexherbo2/alexherbo2.github.io'}
        GitHub
